/* This file contains all of our variables */
// Variables
		/* are placeholders for storing information
		that you want to reuse throughout your styles.
		You can store things like colours, font-stacks,
		or any css value you think you might want to reuse.
		SCSS uses the '$' symbol to declare variables */

$primary: #fff;
$primary-dark: #607D8B;
$secondary: #03A9F4;
$secondary-dark: #666;

$background: #212121;


